*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: lightskyblue;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin-top: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-left:50px;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
    padding-right: 40px;
}

ul{
    float: right;
    display: flex;
}

ul li{
    list-style:none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration:none;
    color: white;
    font-family: Arial;
    font-weight: bold;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 230px;
    background: white;
    border: 1px solid orange;
    margin-top: 13px;
    color: black;
    font-size: 16px;
    float: left;
    padding: 10px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 15px;
}

.name{
    width: 450px;
    float:left;
    margin: 80px;
   padding-top: 250px;
   padding-left: 300px;
}

.name a{
    font-family: 'Times New Roman';
}

.about{
    width: 90%;
    height: 100vh;
    padding-left: 60px; ;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    margin: 50px;
}
    
.left img{
    width: 500px;
    height: 600px;
    float: left;
    display: flex;
   border: 1px solid;
   border-radius: 50%;
   margin: 100px;
}

.right{
    justify-content: center;
    text-align: left;
    width: 50px;
    display: contents;
}

.right h6{
    font-size: 30px;
    font-family: 'Times New Roman';
    margin: 100px;
    text-align: center;
    padding-top: 70px;
}

#one{
    font-size: 20px;
    font-family: Arial;
    margin: 40px;
    justify-content:left;
}

#two{
    font-size: 20px;
    font-family: Arial;
    margin: 40px;
    justify-content: left;
}

.skills{
    position: relative;
    width: 100%;
    height: 54vh;
    background-color: aqua;  
    justify-content: center;
    align-items: center; 
}

.heading h1{
    position: relative;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex; 
}

.image {
    display: flex;
    margin: 40px;
    padding-left: 100px;
    margin-left: 100px;
}

.img-tech{
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.img-tech img {
    position: relative;
    width: 90px;
    height: 90px;
    padding: 10px;
    background: #eee;
    border-radius: 40%;
   
}

.img-tech h3{
    margin: 10px;
}

.contact{
    height: 90vh;
    padding: 30px 100px;
    background-color:cornflowerblue;
    background-size: cover;
}

.easycontact{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: left;
    margin-left: 250px;
    margin-top: 100px;

}

.easycontact .box{
    position: relative;
    margin: 20px;
    padding-bottom: 40px;
}

.easycontact .box .icon{
    width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 20px;
}

.easycontact .box .text{
    margin-left: 20px;
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
}

.easycontact .box .text .h3{
    font-weight: 500;
}

.contactform{
    position: relative;
    width: 35%;
    height: 400px;
    padding: 40px;
    float: right;
    background-color: white;
    font-size: 180x;
    justify-content: center;
    margin-top: -380px;
}

.contactform h2{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
}

.contactform p{
    font-size: 20px;
}

.inputbox input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.contactform .inputbox textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    font-size: 18px;
}

.contactform .inputbox input[type="submit"]{
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: orange;
}